.title{
    font-size: 36px;
    font-weight: 300;
}

.post{
    margin-top: 60px;
    display: flex;
    align-items: center;
    gap: 50px;
}

.imgContainer{
    flex: 1;
    height: 500px;
    position: relative;
}

.image{
    object-fit: cover;
}

.textContainer{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.postTitle{
    font-size: 40px;
}

.postDesc{
    font-size: 20px;
    font-weight: 300;
    color: var(--softTextColor);
}

.button{
    padding: 16px 20px;
    border-radius: 5px;
    border: none;
    background-color: var(--softTextColor);
    color: black;
    width: max-content;
}